.navbar{
    margin-bottom: 0px;
    background-color: #31456A;
    border: none;
}

#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background-image: url("background_img.jpg");
    background-size:cover;
}

#bannerContent{
    position:relative;
    padding-top:3%;
    padding-bottom:3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top:8%;
    margin-bottom:8%;
    background-color:rgba(0,0,0,0.7);
    max-width:700px;
}

#bannerContent h1 {
    font-size: 4.3em;
    font-family: 'Gelasio', serif;
}

#bannerContent p {
    font-size: 2em;
    padding-top: 3%;
}

footer{
    background-color:#31456A;
    color: #EAF2F9;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
    height: 100px;
}
/* 101010 */
html { 
    min-height:100%;
    position:relative;   
} 

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}